<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3><a href="{% url 'categories:view_category' item.category.id %}">Back to category</a></h3>
  <h1>{{item.title}}</h1>
  <p>{{item.description}}</p>
  <hr/>
  <h3><a href="{% url 'categories:edit_post' item.category.id item.id %}">Edit</a></h3>
  <h3><a href="{% url 'categories:delete_post' item.category.id item.id %}">Delete</a></h3>
</body>
</html>