{% extends 'posts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    
    <div class="container" style="width: 50%;">
        <br>
        <h1>Update Category</h1>
        <br>
            <a class="btn btn-sm" style="background-color: red;" href="{% url 'category_delete' category_id=category.id %}">Delete Category</a>
        <br><br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary">Update Category</button>
        </form>
    </div>

{% endblock %}