{% extends 'posts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container" style="width: 50%;">
        <br>
        <h1>Update Post</h1>
        <br>
            <a class="btn btn-sm" style="background-color: red;" href="{% url 'post_delete' category_id=post.category.id post_id=post.id %}">Delete Post</a>
        <br><br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary">Update Post</button>
        </form>
    </div>

{% endblock %}