<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Craigslist Junior</title>
</head>
<body>
  <p><a href="{% url 'view_category' category.id %}">Go back to {{ category.name }}</a></p>
  <br>
  <h4>{{ post.title }}</h4>
  <p>{{ post.description }}</p>
  <p><a href="{% url 'edit_post' category.id post.id %}">Edit Post</a>, <a href="{% url 'delete_post' category.id post.id %}">Delete Post</a></p>
</body>
</html>