<div>
  <h1>{{ category.category_name }}</h1>

  <h2> Items for sale</h2>
  <ul>
    {% for i in posts %}
      <div>
        <li><a href="{% url 'post_detail' category_id=category.id post_id=i.id %}">{{ i.title }}</a></li>
      </div>
    {% endfor %}
  </ul>





  <a href="{% url 'new_post' category_id=category.id %}"> New post</a>
  <br>
  <a href="{% url 'edit_category' category_id=category.id %}"> Edit category</a>
  <br>
  <br>
  <a href="{% url 'all_categories' %}">return to all categories</a>
  <br>
  <br>
  <form name="delete_category" method="POST" action="{% url 'delete_category' category_id=category.id %}">
    {% csrf_token %}
    <input type="submit" value="Delete category" />
  </form>
</div>

