<div>
  <h1>{{post.title}}</h1>
  <h2>{{post.description}}</h2>
  <p>Price: ${{post.price}}</p>

  <br>
  <br>
  <a href="{% url 'edit_post' category_id=category.id post_id=post.id%}"> Edit Post</a>
  <br>
  <a href="{% url 'category_detail' category_id=category.id %}"> Return to {{category.category_name}}</a>
  <br>
  <form name="delete_category" method="POST" action="{% url 'delete_post' category_id=category.id post_id=post.id %}">
    {% csrf_token %}
    <input type="submit" value="Delete post" />
  </form>
<br>
<a href="{% url 'all_categories' %}"> Return to Categories</a>
<br>
<br>
Testing
<br>
________
  <br>
  Category: {{category.category_name}} 
  <br>
  Category ID:{{category.id}}
  <br>
  post_id: {{post.id}}
</div>