{% extends 'layout.html' %}
{% load static %}
{% block body %}
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="categories-lists">
<h1>Add New Category
</h1>
<form action="" method="post" class="bootsform">
    <p class="form-group">
        <label>
            Category Name
        </label>
        <input type="text" name="name" class="form-control"/>
    </p>
    <p  class="form-group">
        <label>
            Description
        </label>
        <textarea name="description" class="form-control"></textarea>
    </p>
    <p  class="form-group">
        <input type="submit" value="Add Category" class="btn btn-success"/>
        {% csrf_token%}
		<a href="/categories">Go Back</a>
    </p>

</form>
</div>
</div>
</div>
</div>
{% endblock %}