<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Craig's List Junior</title>
</head>
<body>
  
  <h2>{{ type_of_request }} Category</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
  <button type="submit">Save</button>
  </form>

  {% if type_of_request == 'Edit' %}
    <br>
    <a href="{% url 'cat_delete' category_id=category.id %}"> Delete category</a>
  {% endif %}

</body>
</html>