<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <title>Craig's List Junior</title>
</head>
<body>
  
  <div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
    <p>Posted on: {{ post.date_posted}}</p>
  
    <br>
    <br>
    <a href="{% url 'post_edit' category_id=post.category.id post_id=post.id %}"> Edit Post</a>
    <br>
    <a href="{% url 'post_delete' category_id=post.category.id post_id=post.id %}"> Delete Post</a>
    <br>
    <hr>
    <a href="{% url 'cat_detail' category_id=post.category.id %}">Back to {{ post.category.name }}</a>
  </div>

</body>
</html>